.row
  .col-xs-6
    table.table.table-hover
      tbody
        tr
          td.firstCol 
            div.up.i.fa.fa-chevron-up.fa-lg(ng-click='upVote(post)')
            div.postVote {{post.votes}}
            div.down.i.fa.fa-chevron-down.fa-lg(ng-click='downVote(post)')
          td
            div.postTitle {{post.title}}
            div.postBy submitted at &nbsp; {{post.createdAt | date: 'yyyy-MM-dd'}}
            div.postComment {{post.comments.length}} comment(s)
  .col-xs-6 
          td.postPhotoTd
            img.postPhoto.img-responsive.img-thumbnail(ng-if='post.photo', ng-src='{{post.photo}}')
